{% extends "admin/base.html" %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}


{% block content %}
{% block object-tools %}{% endblock %}
    <form action="{% url 'admin:upload-from-excel' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" id="file">
        <input type="submit" value="Загрузить">
    </form>
{% endblock %}

